<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ Copyright Stanislav Belogolov 2011.
  ~
  ~ This file is a part of Bilinger. Bilinger is free software distributed under
  ~ the terms of GNU General Public License version 3. You should have received
  ~ a copy of the GNU General Public License along with Bilinger. If not, see
  ~ <http://www.gnu.org/licenses/>.
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="ru.alepar.bilinger"
          android:versionCode="1"
          android:versionName="1.0">
    <application android:label="@string/app_name" android:icon="@drawable/ic_launcher">
        <activity android:name="MainActivity"
                  android:label="@string/app_name"
                  android:theme="@android:style/Theme.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>
</manifest>
